<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'home' %}" class="navbar-brand">Django Protótipo</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'home' %}">Início</a>
        </li>
        <li>
          <a href="{% url 'tabela' %}">Tabela</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cadastro<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="{% url 'book' %}">Book</a></li>
            <li><a href="{% url 'genre' %}">Gênero</a></li>
            <li><a href="{% url 'person' %}">Person</a></li>
            <li><a href="{% url 'group' %}">Group</a></li>
            <li><a href="{% url 'membership' %}">Membership</a></li>
            <li><a href="{% url 'band_listing' %}">Lista das Bandas</a></li>
            <li><a href="">List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Categorias <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="">Notebooks</a></li>
            <li><a href="">Acessórios</a></li>
            <li><a href="">Celulares</a></li>
          </ul>
        </li>
        <li>
          <a href="contact.html">Contato</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Minha Conta</a></li>
      </ul>
    </div>
  </div>
</div>
